# Salary Prediction from LinkedIn Job Postings - Evaluate Stats Model

In [1]:
import pandas as pd, numpy as np
import salary

/var/folders/vm/77wrgjgj5wzbyghx353b7gym0000gn/T/ipykernel_80981/991732673.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd, numpy as np

## Get Datasets

In [2]:
(df_X_train, df_y_train) = salary.get_train_dataset()
df_X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28483 entries, 26740 to 15795
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_id                      28483 non-null  int64
 1   title                       28483 non-null  object
 2   location                    28483 non-null  object
 3   location_state              28483 non-null  object
 4   description                 28483 non-null  object
 5   formatted_work_type         28483 non-null  object
 6   formatted_experience_level  28483 non-null  object
 7   remote_allowed              28483 non-null  float64
 8   company_country             28483 non-null  object
 9   company_state               28483 non-null  object
 10  company_city                28483 non-null  object
 11  company_description         27901 non-null  object
 12  company_employee_count      28084 non-null  float64
 13  pay_period                  28483 non-null  object
 14  norm_title                  28483 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 3.5+ MB

In [3]:
(df_X_test, df_y_test) = salary.get_test_dataset()
df_X_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7121 entries, 3548 to 19960
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_id                      7121 non-null   int64
 1   title                       7121 non-null   object
 2   location                    7121 non-null   object
 3   location_state              7121 non-null   object
 4   description                 7120 non-null   object
 5   formatted_work_type         7121 non-null   object
 6   formatted_experience_level  7121 non-null   object
 7   remote_allowed              7121 non-null   float64
 8   company_country             7121 non-null   object
 9   company_state               7121 non-null   object
 10  company_city                7121 non-null   object
 11  company_description         6979 non-null   object
 12  company_employee_count      7022 non-null   float64
 13  pay_period                  7121 non-null   object
 14  norm_title                  7121 non-null   object
dtypes: float64(2), int64(1), object(12)
memory usage: 890.1+ KB

## Evaluate Mean Salary Model

In [4]:
Xy_train = df_X_train.assign(salary=df_y_train)
salaries = Xy_train.groupby('norm_title')['salary'].mean()
salary_median = Xy_train['salary'].mean()

y_train_pred = [
    salaries.loc[title] if title in salaries.index else salary_median
    for title in df_X_train['norm_title']
]
y_test_pred = [
    salaries.loc[title] if title in salaries.index else salary_median
    for title in df_X_test['norm_title']
]
     
salary.evaluate_train_test_predictions(y_train_pred, y_test_pred)

Train R2: 0.1437
Test R2: 0.1295
Train RMSE: 56712.9427
Test RMSE: 55652.1597
Train MAE: 35528.2230
Test MAE: 35861.2875
On average, our predicted salaries are $35861.29 off the true salaries
This is 18.11% better than a naive global mean

## Evaluate Median Salary Model

In [5]:
Xy_train = df_X_train.assign(salary=df_y_train)
salaries = Xy_train.groupby('norm_title')['salary'].median()
salary_median = Xy_train['salary'].median()

y_train_pred = [
    salaries.loc[title] if title in salaries.index else salary_median
    for title in df_X_train['norm_title']
]
y_test_pred = [
    salaries.loc[title] if title in salaries.index else salary_median
    for title in df_X_test['norm_title']
]
     
salary.evaluate_train_test_predictions(y_train_pred, y_test_pred)

Train R2: 0.1353
Test R2: 0.1181
Train RMSE: 56991.4807
Test RMSE: 56016.6317
Train MAE: 35193.1999
Test MAE: 35556.9192
On average, our predicted salaries are $35556.92 off the true salaries
This is 18.81% better than a naive global mean